<br />
<div  align="center">
	<label>Nombre completo:</label>
	<input type="text" name="NombreCompleto" id="NombreCompleto" class="form-control" value="@Model.NombreCompleto" readonly /><br />	
</div>

<div align="center">
	<label>Cédula:</label>
	<input type="number" name="Cedula" id="Cedula" class="form-control" value="@Model.Cedula" readonly />
</div>

<div  align="center">
	<label>Provincia:</label>
	<input type="text" name="Provincia" id="Provincia" class="form-control" value="@Model.Provincia" readonly />
</div>

<div  align="center">
	<label>Cantón:</label>
	<input type="text" name="Canton" id="Canton" class="form-control" value="@Model.Canton" readonly />
</div>

<div  align="center">
	<label>Distrito:</label>
	<input type="text" name="Distrito" id="Distrito" class="form-control" value="@Model.Distrito" readonly />
</div>
<br />
<div  align="center">
	<input type="submit" value="Eliminar" id="btEliminar" class="btn-danger"/>
</div>

