@model ProyectoPVl.Models.RetornaSedesUniversitariasID_Result
<h3>Eliminar sede universitaria</h3><br />

<form id="frmModificarSede" method="post">

	<input type="hidden" id="id_SedeUniversitaria" value="@Model.id_SedeUniversitaria" />

	<div align="center">
		<label>Nombre:</label>
		<input type="text" name="nombre" id="nombre" class="form-control" value="@Model.Nombre" readonly /> <br />
	</div>

	<div align="center">
		<label>Código:</label>
		<input type="text" name="codigo" id="codigo" class="form-control" value="@Model.Codigo" readonly /><br />
	</div>

	<div align="center">
		<label>Director:</label>
		<input type="text" name="director" id="director" class="form-control" value="@Model.Director" readonly /><br />
	</div>

	<div align="center">
		<label>Provincia:</label>
		<input type="text" name="provincia" id="provincia" class="form-control" value="@Model.Provincia" readonly /><br />
	</div>

	<div align="center">
		<label>Cantón:</label>
		<input type="text" name="canton" id="canton" class="form-control" value="@Model.Canton" readonly /><br />
	</div>

	<div align="center">
		<label>Distrito:</label>
		<input type="text" name="distrito" id="distrito" class="form-control" value="@Model.Distrito" readonly /><br />
	</div>

	<div align="center">
		<label>Dirección exacta:</label>
		<input type="text" name="direccionFisica" id="direccionFisica" class="form-control" value="@Model.DireccionFisica" readonly />
	</div>
	<br />
	<div align="center">
		<input type="button" value="Eliminar" id="btnEliminar" class="btn-danger" />
	</div>

</form>

@section scripts{
	<script src="~/Scripts/Universidad/EliminaSede.js"></script>
}
